NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDO2z6b2FUCzvCn6ET9nRZTc2pmFa80YSk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nabhi-cares.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nabhi-cares
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nabhi-cares.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=177244651907
NEXT_PUBLIC_FIREBASE_APP_ID=1:177244651907:web:062bf16c626e027bc636b6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-W1GDYL9PZ2
